<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Proyecto DevFive</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-page="/Index"></a> *@
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="@Url.Content("~/Images/logo.jpg")"
                        width="80px" /></a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @Html.Partial("_LoginPartial")
                    @using Microsoft.AspNetCore.Identity
                    @inject SignInManager<IdentityUser> SignInManager
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <ul class="navbar-nav flex-grow-1">
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home devfive</a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                                </li> *@

                            <li class="nav-item">
                                &nbsp;<button type="submit" class="btn btn-outline-info my-2 my-sm-0 "><a class="text-white"
                                    asp-area="" asp-page="/Buses/List">Ver Buses</a></button>&nbsp;

                            </li>
                            <li class="nav-item">
                                &nbsp;<button type="button" class="btn btn-outline-info my-2 my-sm-0"><a class="text-white"
                                    asp-area="" asp-page="/Buses/Create">Registrar Bus</a></button>&nbsp;&nbsp;

                            </li>
                            <li class="nav-item">
                                &nbsp;<button type="button" class="btn btn-outline-info my-2 my-sm-0"><a class="text-white"
                                    asp-area="" asp-page="/Estaciones/List">Ver Estaciones</a></button>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                &nbsp; <button type="button" class="btn btn-outline-info my-2 my-sm-0"><a class="text-white"
                                    asp-area="" asp-page="/Estaciones/Create">Registro de
                                        Estaciones</a></button>&nbsp;&nbsp;
                            </li>
                            <li class="nav-item">
                                &nbsp; <button type="button" class="btn btn-outline-info my-2 my-sm-0"><a class="text-white"
                                    asp-area="" asp-page="/Rutas/List">Ver Rutas</a></button>&nbsp;
                            </li>
                            <li class="nav-item">
                                &nbsp; <button type="button" class="btn btn-outline-info my-2 my-sm-0"><a class="text-white"
                                    asp-area="" asp-page="/Rutas/Create">Registro de Rutas</a></button>&nbsp;
                            </li>
                        </ul>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" align="center">
            
            &copy; 2021 - APLICACION DE TRANSPORTE EQUIPO 1 - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
